body {
  padding: 10px;
  font-family: sans-serif;
}

p {
	font-family: sans-serif;
	font-size:20px;
}

h2 {
	font-family: sans-serif;
	font-size:28px;
	font-weight:normal;
}

.linkable {
	position: relative;
	top:10px; 
	left:50%;
	margin-Bottom: 20px; 
	transform: translateX(-20%);
}